@model IEnumerable<Onit.Models.ComponenteDelCarello>

@{
    ViewData["Title"] = "Giacenza";
    
}

    <h1>Giacenza</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Componente.Codice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Componente.Descrizione)
            </th>
            <th colspan="3"> Carelli </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GroupBy(c => c.Componente)
                             .Select(q => new { CodiceComponente = q.Key, total = q.Sum(i => i.Qty) , descrizione = q.Key.Descrizione}))
        {
        <tr>
            @{
                var ScoreMatricola = Model.Where(s => s.Componente.Codice == item.CodiceComponente.Codice).ToList();
                string area = " ";
                string locazione = " ";
            }
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodiceComponente.Codice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodiceComponente.Descrizione)
            </td>

            @foreach (var carello in ScoreMatricola)
            {
                Arrivi ScoreArrivi = carello.Carello.Arrivi.FirstOrDefault();
                if (ScoreArrivi != null)
                {
                    area = string.IsNullOrEmpty(ScoreArrivi.Locazione.Area.Codice) ? " " : ScoreArrivi.Locazione.Area.Codice;
                    locazione = string.IsNullOrEmpty(ScoreArrivi.Locazione.Codice) ? " " : ScoreArrivi.Locazione.Codice;

                }

        <td>
            @Html.DisplayFor(mod => carello.Carello.Matricola)  [<b style="color:red">@carello.Qty</b>]  <br />
            [AREA <b>@area</b>] - [LOCAZIONE <b>@locazione</b> ]
        </td>
            }
        </tr>
        }
    </tbody>
</table>

